body{
    font-family: 'Poppins', sans-serif;
    margin:0;

}
.name-color{
    color: orange;
}
.align-p {
    text-align: justify;
}
.img1{
    border-radius: 50%;
}
section{
    display: flex;
    padding-left:50px ;
    padding-right: 30px;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding:5%;
     

}
.half-width img{
    width: 80%;
}
.link-button{
    background-image:linear-gradient(tomato,orange);
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 10px;
    color:white;
     font-weight:400;
    
}
.top-banner{
    background-image: url(images/orange-circle.jfif);
    background-repeat: no-repeat;
    padding-bottom: 200px;
    
    
}
/*this is second section*/
.img2{
    border-radius: 50%;
    width:70%;
}
 .moana-color{
     color:rgb(197, 28, 84);
 }
 


     